@use 'vuetify'; 

.v-icon {
  font-size: 20px;
}

.v-field__input {
  font-size: 14px;
}

.v-card-title {
  font-size: 17px !important;
}

h1,h2,h3,h4,h5,h6 {
  opacity: 85%;
}

.v-data-table {
  .v-field__field {
    height: 32px ;
  }
  .v-field__input {
    padding-top: 2px ;
  }
  .v-data-table-footer {
    margin-top: 16px ;
  }
  th {
    font-weight: 600 !important;
  }
} 

