@use 'vuetify'; 

.v-field .v-icon {
  font-size: 20px;
}

// 一般輸入框樣式
.v-field:not(.v-textarea .v-field) {
  .v-field__input {
    font-size: 13px;
    height: 36px !important;
    padding-top: 4px !important;

    @media #{map-get(vuetify.$display-breakpoints, 'sm-and-up')} {
      font-size: 14px;
      height: 40px !important;
      padding-top: 8px !important;
    }
  }

  .v-field__field {
    height: 36px !important;

    @media #{map-get(vuetify.$display-breakpoints, 'sm-and-up')} {
      height: 40px !important;
    }
  }
}

// 文本區域特殊處理
.v-textarea {
  .v-field__input {
    font-size: 13px;

    @media #{map-get(vuetify.$display-breakpoints, 'sm-and-up')} {
      font-size: 14px;
    }
  }
}

.v-card-title {
  font-size: 17px !important;
}

h1,h2,h3,h4,h5,h6 {
  opacity: 85%;
}

.v-data-table {
  .v-field__field {
    height: 32px !important;
  }
  .v-field__input {
    padding-top: 2px !important;
  }
  .v-data-table-footer {
    margin-top: 16px ;
  }
  th {
    font-weight: 600 !important;
  }
} 

